img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .Banner {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .Banner > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
  }
  .Banner > h3 {
    color: #fff;
    font-size: 80px;
    margin-top: -10px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .Banner > p {
    margin-top: 10px;
    color: #fff;
    font-size: 32px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @media screen and (max-width: 960px) {
    .Banner > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Banner > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .Banner > p {
      font-size: 30px;
    }
  
  }