.footer {
    background-color: rgb(16, 36, 11);
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1rem;
    padding: 1rem 0;
    color: #fff;
    font-size: 15px;
  }

  @media screen and (max-width: 768px) {
  }